#application
DD_PROFILING_ENABLED=true
DD_TRACE_ENABLED=true
DD_TRACE_LOGS_INJECTION=true
DD_TRACE_ASYNCIO_ENABLED=true

#datadog-agent
DD_APM_NON_LOCAL_TRAFFIC=true
DD_APM_ENABLED=true
DD_LOGS_ENABLED=true
DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL=true
